
body{

	background-image: url(img/un19.jpg);
	position: relative;
	height: 650px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 5px;
}






div{
margin: auto;
padding: 10px;
max-width: 400px;
color: white;

}


.but{

	color: skyblue;
}